#content {
    width: 100%;
    height: 100%;
}

.about_tab {
    display: table;
    margin: 0 3rem 1rem 3rem;
}

.about_tab .about_col + .about_col {
    border-left: .1rem solid black;
}

.about_col {
    display: table-cell;
    width: 33%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.month {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 1.2rem;
}

.month button {
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}

.calendar {
    display: table;
    width: 90%;
    margin: 0 auto 1rem auto;
    border: solid .1rem black;
}

.cal_row {
    display: table-row;
    text-align: center;
}

.cal_day {
    display: table-cell;
    border: solid .1rem black;
    width: 14.3%;
}

.cal_cell {
    display: table-cell;
    border: solid .1rem black;
    height: 8rem;
    width: 14.3%;

}

.not_month {
    background-color: rgb(220, 220, 220);
}

.cell_day {
    border-right: .1rem solid black;
    border-bottom: .1rem solid black;
    width: 20%;
}

.cal_cell:hover {
    background-color: rgb(235, 235, 235);
}

.cell_content {
    margin-top: .5rem;
}