
#footer {
    margin-top: auto;
    width: 100%;
    background-color: #333;
    color: antiquewhite;
    padding:1em;
}

#foot_table {
    height: 100%;
    margin: 0 auto;
}

.row th + th {
    border-left: 5rem solid transparent;
}

.row td + td {
    border-left: 5rem solid transparent;
}

.row1_text {
    color: white;
    font-size: 2rem;
    font-style: italic;
    justify-content: center;
}

.row2_text {
    color: white;
    text-align: center;
}

.icon_table {
    height: 100%;
    margin: 0 auto;
}

.icon_row td + td {
    border-left: 1rem solid transparent;
}

.icon {
    max-height: 1.5rem;
    max-width: 1.5rem;
}

.icon img{
    height: auto;
    max-width: 100%;
}

