
#header {
    background-color: #333;
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
}

#logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-style:italic;
    font-weight:bold;
    display: inline-block;
}

.nav_menu {
    list-style: none;
    display: flex;
}

.nav_item {
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px;
}

.merch {
    margin: 1rem 2rem;
    display: inline-block;
    height: 0;
    background-color:#6E8EFF;
}

.merch:hover {
    background-color: #5c73FF;
}

